*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;

}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li a{
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    color: #fff;
    font-size: 24px;
    position: relative;
}
a::before{
    position: absolute;
    content: "";
    background: #fff;
    left: 0;
    top: -1px;
    width: 100%;
    height: 2px;
    transform: scale(0);
    transform-origin: left;
    transition: all 0.3s;
}
a::after{
    position: absolute;
    content: "";
    background: #fff;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    transform: scale(0);
    transform-origin: right;
    transition: all 0.5s;
}
a:hover::before,
a:hover::after{
    transform: scale(1);
}