@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100;300;400;700&display=swap');
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: "Abril Fatface", serif;
    background: #636060;
   
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Heading{
    font-size: 10rem;
    font-weight: 900;
    background: url(https://images.unsplash.com/photo-1733178262883-18a3080e7a5e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}