*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
    color: aliceblue;
}
p{
    font-size: 3rem;
}
.js{
    color: yellow;
}
.typed-text{
    color: green;
}
.cursor{
    color: green;
}