*{
    box-sizing: border-box;
}
body{
    background-color: rgb(5, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    color: #fff;
}
.container{
    display: flex;
    width: 100%;
}
.bg-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image-1{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/478/422/462/cyberpunk-2077-games-ps-games-xbox-games-wallpaper-preview.jpg);
}
.image-2{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/835/254/325/gigabyte-aorus-logo-pc-gaming-wallpaper-preview.jpg);
}
.image-3{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/189/144/893/cyber-science-fiction-digital-art-concept-art-cyberpunk-hd-wallpaper-preview.jpg);
}
.image-4{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/888/401/127/ai-art-gamer-computer-pc-gaming-hd-wallpaper-preview.jpg);
}
.image-5{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/711/449/289/league-of-legends-irelia-fantasy-girl-fantasy-art-wallpaper-preview.jpg);
}
.side{
    position: relative;
    height: 80vh;
    flex: 0.5;
    border-radius: 50px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    transition: all 700ms ease-in;
}
.side h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    font-size: 24px;
}
.side.active{
    flex: 5;
}
.side.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
@media(max-width:480px){
    .side:nth-of-type(4),
    .side:nth-of-type(5){
        display: none;
    }
}